[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
# More commands for Django
django-extensions = "~=3.1"
# This is not active unless DEBUG is True
django-debug-toolbar = "~=3.0"
# PEP8
flake8 = "*"
# TODO in codes as WARNING checkstyle
flake8-todo = "*"
# Simple http and wsgi server for dev
werkzeug = "*"
# Better than polling for werkzeug
watchdog = "*"
# Mysql/Mariadb driver
mysqlclient = "~=2.0"
# Postgresql driver
psycopg2-binary = "~=2.8"

[packages]
django = "~=3.1"
# Fontawesome (free version)
fontawesome-free = "~=5.14"
# for DKIM RSA keys
pycryptodome = "~=3.0"
# to check DNS records
dnspython = "~=1.0"

[requires]
python_version = "3.9"
