{% extends "mailserveradmin/base_crud.html" %}{% load i18n static %}
{% block content-actions %}
<a class="action-return btn btn-info" href="{% url "mailserveradmin:"|add:model_name|add:"-list" %}">Return</a>
<button class="action-saveAndReturn btn btn-primary action-save" type="submit" onclick="document.getElementById('{{ model_name|add:"_form" }}').submit();">
    <span class="btn-label">Save</span>
</button>
{% endblock %}
{% block content-panel %}
<form method="post" id="{{ model_name|add:"_form" }}" class="edit">
    {% csrf_token %}
    {{ form.as_p }}
    {% block form-extra %}{% endblock %}
</form>
{% endblock %}
{# vim: set ft=htmldjango: #}
