<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="robots" content="noindex, nofollow, noarchive, nosnippet, noodp, noimageindex, notranslate, nocache"/>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="shortcut icon" href="/favicon.ico">
    <title>Mailserver administration</title>
</head>
<body>
  <div class="wrapper">
    Here is the dashoard for mailserver admin<br>
    {{ user }}
  </div>
  <footer class="text-center">
    <small class="text-muted"><a href="https://github.com/jeboehm/docker-mailserver">docker-mailserver</a></small>
  </footer>
</body>
</html>
