{% extends "./base_list.html" %}{% load i18n static %}
{% block content-table-head-row %}
{% include "./column_header.html" with label="Email" align="left" sort_name="email" %}
{% include "./column_header.html" with label="Enabled" align="right" sort_name="enabled" %}
{% include "./column_header.html" with label="Domain admin" align="right" sort_name="admin" %}
{% include "./column_header.html" with label="Super admin" align="right" sort_name="superadmin" %}
{% include "./column_header.html" with label="Send only" align="right" sort_name="send_only" %}
{% include "./column_header.html" with label="Quota" align="right" sort_name="quota" %}
{% include "./column_header.html" with type="actions" %}
{% endblock %}
{% block content-table-row %}
{% include "./column_data.html" with data=object.email align="left"
    detail_url_base="mailserveradmin:user-detail"
%}
{% include "./column_data.html" with data=object.is_active align="right" type="bool" %}
{% include "./column_data.html" with data=object.is_admin align="right" type="bool" %}
{% include "./column_data.html" with data=object.is_superuser align="right" type="bool" %}
{% include "./column_data.html" with data=object.send_only align="right" type="bool" %}
{% if object.quota %}
{% include "./column_data.html" with data=object.quota|stringformat:'s'|add:' MB' align="right" type="num" %}
{% else %}
{% include "./column_data.html" with data='−' align="right" %}
{% endif %}
{% include "./column_data.html" with type="actions"
    edit_url_base="mailserveradmin:user-update"
    delete_url_base="mailserveradmin:user-delete"
%}
{% endblock %}
{% block content-table-empty %}
{% include "./column_data.html" with data="No user yet" colspan="7" %}
{% endblock %}
{# vim: set ft=htmldjango: #}
