/* extracted from bootstrap */
:root {
  --default: #212529;
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #007bff;
  --primary-hover: darken(var(--primary), 15%);
  --secondary: #6c757d;
  --secondary-hover: darken(var(--secondary), 15%);
  --success: #28a745;
  --success-hover: darken(var(--success), 15%);
  --info: #17a2b8;
  --info-hover: darken(var(--info), 15%);
  --warning: #ffc107;
  --warning-hover: darken(var(--warning), 15%);
  --danger: #dc3545;
  --danger-hover: darken(var(--danger), 15%);
  --link-color: var(--primary);
  --link-hover-color: var(--primary-hover);
  --input-color: var();
  --input-bg: var(--white);
  --input-border-color: var();
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  /* OWN */
    --body-max-width: 1440px;
    --sidebar-max-width: 190px;
    --font-family-sans-serif: "-apple-system","BlinkMacSystemFont","Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    --font-family-monospace: "SFMono-Regular","Menlo",Monaco,"Consolas","Liberation Mono","Courier New",monospace;
    --font-family-base: "-apple-system","BlinkMacSystemFont","Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    --font-size-base: 0.875rem;
    --font-size-xl: 1.125rem;
    --font-size-lg: 1rem;
    --font-size-sm: 0.8125rem;
    --font-size-xs: 0.75rem;
    --body-bg: #e3e7ed;
    --text-color: #4c5367;
    --text-color-dark: #292d42;
    --text-color-light: #9fa9b7;
    --box-shadow-lg: 0 7px 14px 0 rgba(59,64,94,0.1), 0 3px 6px 0 rgba(0,0,0,0.07);
    --content-panel-bg: #f8fafc;
    --form-bg: #f8fafc;
    --table-header-bg: #edf2f7;
    --table-footer-bg: #f8fafc;
    --fieldset-bg: #f5f7fa;
    --zindex-700: 777;
    --zindex-800: 888;
    --zindex-900: 999;
    --zindex-1050: 1050;
    --gray-50: #f9fafb;
    --gray-100: #f0f2f4;
    --gray-200: #eaedf0;
    --gray-300: #dfe3e7;
    --gray-400: #ced4da;
    --gray-500: #adb5bd;
    --gray-600: #878f97;
    --gray-700: #484f56;
    --gray-800: #353b41;
    --gray-900: #22262b;
    --black: #000;
    --blue-100: #bef0f9;
    --green-100: #c6f3c4;
    --indigo-100: #d1eaff;
    --red-100: #fdded8;
    --yellow-100: #f8e4b5;
    --text-blue-600: #075692;
    --text-green-600: #0d5e42;
    --text-indigo-600: #3c4caa;
    --text-red-600: #a11b4c;
    --text-yellow-600: #943505;
    --color-primary: #6174d1;
    --color-success: #1ea471;
    --color-info: #0679b7;
    --color-warning: #d97817;
    --color-danger: #cd3c63;
    --highlight-bg: #f8e5b9;
    --text-on-primary: var(--white);
    --text-muted: var(--gray-500);
    --link-color: #5c70d6;
    --link-hover-color: #99a6e6;
    --link-hover-decoration: none;
    --border-radius: 4px;
    --border-width: 1px;
    --border-style: solid;
    --border-color: #e3e7ee;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

aside, footer, header, main, nav {
  display: block;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--default);
  text-align: left;
  background-color: var(--white);
}
body {
    font-family: var(--font-family-base);
    font-size: .875rem;
    font-weight: 400;
    text-align: left;
    line-height: 1.5;
    margin: 0;
    background-color: var(--body-bg);
    color: var(--text-color);
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}
h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.75rem;
}
h4 {
  font-size: 1.5rem;
}
h5 {
  font-size: 1.25rem;
}
h6 {
  font-size: 1rem;
}

ul {
  margin-top: 0;
  margin-bottom: 1rem;
}

b,
strong {
  font-weight: bolder;
}

small {
  font-size: 80%;
  font-weight: 400;
  color: var(--secondary) !important;
}

pre {
  display: block;
  font-size: 87.5%;
  color: var(--default);
}

a {
  color: var(--link-color);
  text-decoration: none;
  background-color: transparent;
}
a:hover {
  color: var(--link-hover-color);
  text-decoration: underline;
}
a:hover {
    text-decoration: none;
    filter: invert(30%);
}

table {
  border-collapse: collapse;
}

th {
  text-align: inherit;
}

label {
  display: inline-block;
  margin-bottom: 0.5rem;
}

button {
  border-radius: 0;
}

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

input,
button,
select,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

select {
  word-wrap: normal;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  appearance: button;
}

button:not(:disabled),
[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled) {
  cursor: pointer;
}

input[type="radio"],
input[type="checkbox"] {
  box-sizing: border-box;
  padding: 0;
}

textarea {
  overflow: auto;
  resize: vertical;
}

[type="search"] {
  outline-offset: -2px;
  -webkit-appearance: none;
  appearance: none;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: var(--input-bg);
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control:focus {
  color: #495057;
  background-color: var(--input-bg);
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.form-control::-webkit-input-placeholder,
.form-control::-moz-placeholder,
.form-control:-ms-input-placeholder,
.form-control::-ms-input-placeholder,
.form-control::placeholder {
  color: var(--secondary);
  opacity: 1;
}

.form-control:disabled, .form-control[readonly] {
  background-color: #e9ecef;
  opacity: 1;
}

.form-group {
  margin-bottom: 1rem;
}

/* ****************************** */
/* FORMS */
input[disabled] {
    cursor: not-allowed;
}
.form-group {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px 0;
    margin-bottom: 0;
}
.form-widget {
    align-items: flex-start;
    flex-direction: column;
    flex: 100%;
}
.form-widget-with-icon {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}
.form-widget-with-icon > i {
    color: var(--gray-500);
    font-size: 18px;
    margin-right: 10px;
}
.form-widget input {
    font-size: var(--font-size-lg);
    height: 38px;
    line-height: 38px;
}
.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--text-color-dark);
    background-color: var(--white);
    background-clip: padding-box;
    border: 1px solid var(--gray-500);
    border-radius: var(--border-radius);
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}
.form-widget input.form-control,
.form-widget select.form-control,
.form-widget textarea.form-control {
    border: 0;
    padding: 3px 7px 4px;
    padding-left: 7px;
    box-shadow: 0 0 0 1px rgba(43,45,80,.16),0 0 0 1px rgba(6,122,184,0),0 0 0 2px rgba(6,122,184,0),0 1px 1px rgba(0,0,0,.08);
    height: 30px;
    max-width: 350px;
    white-space: nowrap;
    word-break: keep-all;
    transition: box-shadow .08s ease-in,color .08s ease-in;
}
/* END FORMS */

.btn {
  display: inline-block;
  font-weight: 400;
  color: var(--default);
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn:hover {
  color: var(--default);
  text-decoration: none;
}

.btn:focus, .btn.focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.btn.disabled, .btn:disabled {
  opacity: 0.65;
}

.btn:not(:disabled):not(.disabled) {
  cursor: pointer;
}

a.btn.disabled,
fieldset:disabled a.btn {
  pointer-events: none;
}

.btn-primary {
  color: var(--white);
  background-color: var(--primary);
  border-color: var(--primary);
}
.btn-primary:hover {
  color: var(--white);
  background-color: #0069d9;
  border-color: #0062cc;
}
.btn-primary:focus,
.btn-primary.focus {
  color: var(--white);
  background-color: #0069d9;
  border-color: #0062cc;
  box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: var(--white);
  background-color: var(--primary);
  border-color: var(--primary);
}
.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active {
  color: var(--white);
  background-color: #0062cc;
  border-color: #005cbf;
}
.btn-primary:not(:disabled):not(.disabled):active:focus,
.btn-primary:not(:disabled):not(.disabled).active:focus {
  box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}

.btn-secondary {
  color: var(--white);
  background-color: var(--secondary);
  border-color: var(--secondary);
}
.btn-secondary:hover {
  color: var(--white);
  background-color: #5a6268;
  border-color: #545b62;
}
.btn-secondary:focus,
.btn-secondary.focus {
  color: var(--white);
  background-color: #5a6268;
  border-color: #545b62;
  box-shadow: 0 0 0 0.2rem rgba(130, 138, 145, 0.5);
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: var(--white);
  background-color: var(--secondary);
  border-color: var(--secondary);
}
.btn-secondary:not(:disabled):not(.disabled):active,
.btn-secondary:not(:disabled):not(.disabled).active {
  color: var(--white);
  background-color: #545b62;
  border-color: #4e555b;
}
.btn-secondary:not(:disabled):not(.disabled):active:focus,
.btn-secondary:not(:disabled):not(.disabled).active:focus {
  box-shadow: 0 0 0 0.2rem rgba(130, 138, 145, 0.5);
}

.btn-info {
  color: var(--white);
  background-color: #17a2b8;
  border-color: #17a2b8;
}
.btn-info:hover {
  color: var(--white);
  background-color: #138496;
  border-color: #117a8b;
}
.btn-info:focus,
.btn-info.focus {
  color: var(--white);
  background-color: #138496;
  border-color: #117a8b;
  box-shadow: 0 0 0 0.2rem rgba(58, 176, 195, 0.5);
}
.btn-info.disabled,
.btn-info:disabled {
  color: var(--white);
  background-color: #17a2b8;
  border-color: #17a2b8;
}
.btn-info:not(:disabled):not(.disabled):active,
.btn-info:not(:disabled):not(.disabled).active {
  color: var(--white);
  background-color: #117a8b;
  border-color: #10707f;
}
.btn-info:not(:disabled):not(.disabled):active:focus,
.btn-info:not(:disabled):not(.disabled).active:focus {
  box-shadow: 0 0 0 0.2rem rgba(58, 176, 195, 0.5);
}

.btn-danger {
  color: var(--white);
  background-color: #dc3545;
  border-color: #dc3545;
}
.btn-danger:hover {
  color: var(--white);
  background-color: #c82333;
  border-color: #bd2130;
}
.btn-danger:focus,
.btn-danger.focus {
  color: var(--white);
  background-color: #c82333;
  border-color: #bd2130;
  box-shadow: 0 0 0 0.2rem rgba(225, 83, 97, 0.5);
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: var(--white);
  background-color: #dc3545;
  border-color: #dc3545;
}
.btn-danger:not(:disabled):not(.disabled):active,
.btn-danger:not(:disabled):not(.disabled).active {
  color: var(--white);
  background-color: #bd2130;
  border-color: #b21f2d;
}
.btn-danger:not(:disabled):not(.disabled):active:focus,
.btn-danger:not(:disabled):not(.disabled).active:focus {
  box-shadow: 0 0 0 0.2rem rgba(225, 83, 97, 0.5);
}

.btn-block {
  display: block;
  width: 100%;
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: 0.3rem;
}

.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
}

.pagination {
  display: flex;
  padding-left: 0;
  list-style: none;
  border-radius: 0.25rem;
}
.page-link {
  position: relative;
  display: block;
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: var(--link-color);
  background-color: var(--white);
  border: 1px solid #dee2e6;
}
.page-link:hover {
  z-index: 2;
  color: var(--link-hover-color);
  text-decoration: none;
  background-color: #e9ecef;
  border-color: #dee2e6;
}
.page-link:focus {
  z-index: 3;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
.page-link > i {
  margin-left: 0.25rem !important;
  margin-right: 0.25rem !important;
}
.page-item:first-child .page-link {
  margin-left: 0;
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}
.page-item:last-child .page-link {
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}
.page-item.active .page-link {
  z-index: 3;
  color: var(--white);
  background-color: var(--primary);
  border-color: var(--primary);
}
.page-item.disabled .page-link {
  color: var(--secondary);
  pointer-events: none;
  cursor: auto;
  background-color: var(--white);
  border-color: #dee2e6;
}

.text-left {
  text-align: left !important;
}
.text-right {
  text-align: right !important;
}
.text-center {
  text-align: center !important;
}

.text-primary {
  color: var(--primary) !important;
}
a.text-primary:hover,
a.text-primary:focus {
  color: var(--primary-hover) !important;
}

.text-secondary {
  color: var(--secondary) !important;
}
a.text-secondary:hover,
a.text-secondary:focus {
  color: #494f54 !important;
}

.text-success {
  color: #28a745 !important;
}
a.text-success:hover,
a.text-success:focus {
  color: #19692c !important;
}

.text-info {
  color: #17a2b8 !important;
}
a.text-info:hover,
a.text-info:focus {
  color: #0f6674 !important;
}

.text-warning {
  color: var(--warning) !important;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #ba8b00 !important;
}

.text-danger {
  color: #dc3545 !important;
}
a.text-danger:hover,
a.text-danger:focus {
  color: #a71d2a !important;
}

/* ******** OWN ******** */
/* ******** OWN ******** */
/* ******** OWN ******** */
/* ******** OWN ******** */
#wrapper {
    max-width: var(--body-max-width);
    padding: 15px;
    margin: 0 auto;
}
header {
    display: flex;
    justify-content: space-between;
    text-align: center;
}
#content-wrapper {
}
main {
}
footer {
    text-align: center;
}

/* ****************************** */
/* LOGIN */
body.login {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: absolute;
    width: 100vw;
    height: 100vh;
}
body.login #wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 330px;
}
body.login #header-logo {
    margin: 0;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.2;
}
body.login #content-wrapper {
    width: 100%;
    margin: 30px 20px;
}
body.login footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 15px 20px;
    background: var(--white);
    border-top: var(--border-width) var(--border-style) var(--border-color);
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
}
body.login footer > a {
    margin: 0.5rem 0;
}
/* END LOGIN */

/* ****************************** */
/* NAVBAR */
.navbar {
    display: flex;
    padding: 0;
}
#navigation-toggler {
    width: 24px;
    font-size: 17px;
    background: transparent;
    color: var(--text-color-dark);
    filter: opacity(50%);
    border: 0;
    margin: 0 5px 0 -5px;
    padding: 0;
    cursor: pointer;
    user-select: none;
}
@media (min-width:1024px) {
    #navigation-toggler {
        display: none
    }
}
#header-logo {
    margin: 0;
    font-size: 21px;
    font-weight: 600;
    line-height: 1;
}
#header-logo a {
    color: var(--text-color);
}
/* END NAVBAR */

/* ****************************** */
/* SIDEBAR */
main.grid {
    display: grid;
    width: 100%;
    grid-template: "content" auto;
}
@media (min-width:1024px) {
    main.grid {
        grid-template: "sidebar content" auto / fit-content(var(--sidebar-max-width)) auto;
        grid-column-gap: 5px;
    }
}
#sidebar {
    grid-area: sidebar;
    position: fixed;
    background: var(--body-bg);
    width: calc(40px + var(--sidebar-max-width));
    min-width: min-content;
    height: 100vh;
    top: 0;
    left: calc(-40px - var(--sidebar-max-width));
    transition: left .3s;
    padding: 20px;
    overflow: auto;
    resize: horizontal;
    z-index: 1500;
}
body.sidebar-visible #sidebar {
    left: 0;
}
@media (min-width:1024px) {
    #sidebar {
        position: static;
        width: auto;
        height: unset;
        padding: 0;
    }
}
#navigation-toggler2 {
    display: none;
}
body.sidebar-visible #navigation-toggler2 {
    display: flex;
    align-items: baseline;
    width: 24px;
    font-size: 17px;
    background: transparent;
    color: var(--text-color-dark);
    filter: opacity(50%);
    border: 0;
    margin: 0 5px 0 -5px;
    padding: 0;
    cursor: pointer;
    user-select: none;
}
#navigation-toggler2 span {
    padding-left: 0.5rem;
}
@media (min-width:1024px) {
    body.sidebar-visible #navigation-toggler2 {
        display: none;
    }
}
#content {
    grid-area: content;
}
ul.sidebar {
    padding-left: 0;
    margin-top: 10px;
    margin-right: 20px;
}
ul.sidebar > li {
    list-style: none;
}
ul.sidebar a {
    display: block;
    color: var(--text-color-dark);
    line-height: 20px;
    padding: 4px 5px 8px 0;
    white-space: nowrap;
}
ul.sidebar a > i {
    width: 20px;
    font-size: 17px;
    margin-right: 4px;
    vertical-align: text-bottom;
    color: currentColor;
    filter: opacity(50%);
}
div.glass-pane {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
    background-color: var(--black);
}
div.glass-pane.fade {
    opacity: 0;
    transition: opacity .15s linear;
}
div.glass-pane.show {
    opacity: 0.6;
}
@media (min-width:1024px) {
    .glass-pane {
        display: none;
    }
}
/* END SIDEBAR */

/* ****************************** */
/* CRUD HEADER */
div.content-header,
div.content-footer {
    display: flex;
    justify-content: space-between;
    align-content: center;
    width: 100%;
    position: sticky;
    top: 0;
    background-color: var(--body-bg);
    padding: 10px 0;
}
div.content-footer {
    margin-bottom: 20px;
}
div.content-header div.title,
div.content-footer div.title {
    align-self: center;
    flex: 1;
}
div.content-header div.title > h1,
div.content-footer div.title > h1 {
    font-size: var(--font-size-xl);
    font-weight: 500;
    line-height: 1;
    color: var(--text-color-dark);
    margin: 0;
}
div.content-header div.actions,
div.content-footer div.actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 10px;
}
div.content-header div.actions .btn,
div.content-footer div.actions .btn {
    margin-left: 10px;
}
div.content-search {
    display: flex;
    max-width: 480px;
    padding: 0 0 10px 0;
}
div.content-search .form-action {
    width: 100%;
}
div.content-search .form-group {
    margin: 0;
    padding: 0;
}
div.content-search input[type="search"].form-control {
    background-color: var(--white);
    background-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg"><path fill="%23aaa" d="M1216 832q0-185-131.5-316.5t-316.5-131.5-316.5 131.5-131.5 316.5 131.5 316.5 316.5 131.5 316.5-131.5 131.5-316.5zm512 832q0 52-38 90t-90 38q-54 0-90-38l-343-342q-179 124-399 124-143 0-273.5-55.5t-225-150-150-225-55.5-273.5 55.5-273.5 150-225 225-150 273.5-55.5 273.5 55.5 225 150 150 225 55.5 273.5q0 220-124 399l343 343q37 37 37 90z"/></svg>');
    background-repeat: no-repeat;
    background-size: 13px 13px;
    background-position: 10px 8px;
    padding-left: 32px;
    min-width: 100%;
}
/* END CRUD HEADER */

/* ****************************** */
/* CRUD FOOTER */
body.dashboard footer {
    display: flex;
    align-items: baseline;
    justify-content: center;
}
body.dashboard footer > a {
    margin: 0 1rem;
}
/* END CRUD FOOTER */

/* ****************************** */
/* BOOLEAN and NUMERIC FIELDS */
.num > span {
    font-weight: 400;
    color: var(--cyan);
    font-family: var(--font-family-monospace);
}
.bool > span > span {
    display: none;
}
.bool > span::before {
    display: inline-block;
    content: '';
    width: 12px;
    height: 12px;
    border-radius: 12px;
}
.bool > span::after {
    display: inline-block;
    content: ' ';
}
.bool > span[data-value="no"]::before {
    background-color: var(--red);
}
.bool > span[data-value="no"]::after {
    content: '✘';
    color: var(--red);
}
.bool > span[data-value="yes"]::before {
    background-color: var(--green);
}
.bool > span[data-value="yes"]::after {
    content: '✔';
    color: var(--green);
}
/* END BOOLEAN and NUMERIC FIELDS */

/* ****************************** */
/* LIST */
.content-panel {
    background: var(--white);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow-lg);
    margin-bottom: 20px;
}
.content-panel.with-footer {
    margin-bottom: 0px;
}
.content-panel-body {
    min-height: 250px;
    background: var(--white);
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
}
.content-panel-body table {
    width: 100%;
    background: var(--white);
    border-collapse: collapse;
    border-spacing: 0;
    margin-bottom: 0;
}
.content-panel-body table > thead {
    background: var(--table-header-bg);
}
.content-panel-body th {
    vertical-align: bottom;
    border: 0;
    padding: 0;
    vertical-align: middle;
}
.content-panel-body thead th > span {
    display: block;
    color: var(--text-color-dark);
    font-weight: 500;
    line-height: 1.357;
    padding: 12px 8px;
    white-space: nowrap;
}
.content-panel-body thead th > span.sort {
    cursor: pointer;
    color: var(--link-color);
    user-select: none;
}
.content-panel-body thead th > span.sort:hover {
    filter: invert(30%);
}
.content-panel-body thead th > span.sort > i {
    margin-left: 0.2rem;
}
.content-panel-body td {
    padding: 8px;
    border-top: 1px solid var(--gray-300);
    border-bottom: var(--border-width) var(--border-style) var(--border-color);
    vertical-align: middle;
}
.content-panel-body th:first-child > a,
.content-panel-body th:first-child > span,
.content-panel-body td:first-child {
    padding-left: 20px;
}
.content-panel-body th:last-child > a,
.content-panel-body th:last-child > span,
.content-panel-body td:last-child {
    padding-right: 20px;
}
.content-panel-body td.actions {
    display: flex;
    justify-content: right;
}
.content-panel-body td.actions > * {
    margin-left: 10px;
}
.content-panel-footer {
    background: var(--table-footer-bg);
    border-top: 0;
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
    margin: 0;
    padding: 0;
}
.list-pagination {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 10px;
}
.list-pagination ul.pagination {
    margin: 0;
}
/* END LIST */

/* ****************************** */
/* CREATE/EDIT */
form.create,
form.edit {
    padding: 10px;
}
.new-private-key {
    margin: 0 20px;
}
.dkim-dns-record {
    margin: 1rem 20px 0;
}
#dns-record {
    margin: 0 20px;
    color: var(--color-info);
    font-family: var(--font-family-monospace);
    white-space: pre;
}
/* END CREATE/EDIT */
/* DETAIL */
div.detail {
    padding: 0.5rem 1rem;
}
p.detail-field {
    margin: 0 0 0.5rem 0;
}
span.detail-field-name {
    font-weight: 600;
}
span.detail-field-value {
    padding-left: 0.5rem;
}
span.detail-field-value.textarea {
    display: block;
    font-family: var(--font-family-monospace);
    white-space: pre;
}
/* END DETAIL */

/* ****************************** */
/* DELETE */
form.delete {
    padding: 10px;
}
.confirm {
    margin: 20px;
    padding: 10px;
    background-color: var(--color-danger);
    color: var(--white);
}
/* END DELETE */
